<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/main.css">
  <title>Document Q&A</title>
</head>
<body>

  <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" integrity="sha384-9/D4ECZvKMVEJ9Bhr3ZnUAF+Ahlagp1cyPC7h5yDlZdXs4DQ/vRftzfd+2uFUuqS"
	 crossorigin="anonymous">
  </script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer>
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
  <script src="/static/js/main.js" defer></script>


  <!--Upload section-->
  <div id="leftContainer">
    <div id="uploadFormContainer" style="display: none;">
      <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="pdf_file" accept=".pdf" required>
        <button type="submit">Upload and Convert</button>
      </form>
    </div>
    <!-- Chat box -->
    <div id="chatBoxContainer" style="display: none;">
      <form action="/send_message" id="chatForm" method="POST">
          <input type="text" name="user_message" id="userMessage" placeholder="Type your question..." required>
          <button type="submit">Send</button>
          
      </form>
      
    </div>
    <div class="text-container" id="resultsContainer"></div>
    
  </div>
    
  </div> 






    
  <!---->
  <div id="bottomLeftContainer">
    <div id="bottomLeftTitle">▼</div>
    <div id="servicesLinkWrapper">
      <a id="toggleUploadFormButton" data-link="Upload PDF" onclick="toggleUploadForm();">
        Upload PDF
        <div id="serviceLinkOverlay"></div>
      </a>

      <a id="bottomLeftSeperator"></a>
      <a id="toggleChatBoxButton" data-link="Ask Question" onclick="toggleChatBox();">
          Ask Question
          <div id="serviceLinkOverlay"></div>
      </a>
    </div>
    </div>
  
  </div>
  <!---->
  <div id="cursor"></div>
  <!---->

  
  


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
